In [6]:
import pandas as pd
import datetime
import numpy as np

In [2]:
d1_2015 = pd.read_pickle('./data/dt_for 1 year/2015_data.pkl')
d1_2016 = pd.read_pickle('./data/dt_for 1 year/2016_data.pkl')
d1_2017 = pd.read_pickle('./data/dt_for 1 year/2017_data.pkl')
d1_2018 = pd.read_pickle('./data/dt_for 1 year/2018_data.pkl')
d1_2019 = pd.read_pickle('./data/dt_for 1 year/2019_data.pkl')

d3_2015 = pd.read_pickle('./data/dt_for 3 year/2015_data.pkl')
d3_2016 = pd.read_pickle('./data/dt_for 3 year/2016_data.pkl')
d3_2017 = pd.read_pickle('./data/dt_for 3 year/2017_data.pkl')
d3_2018 = pd.read_pickle('./data/dt_for 3 year/2018_data.pkl')
d3_2019 = pd.read_pickle('./data/dt_for 3 year/2019_data.pkl')

In [2]:
ll = [0.1601, 0.1534, 0.1141, 0.0681, 0.0374, 0.0479, 0.3417, 0.0143, 0.0631]

In [15]:
ll2 = [0.2483, 0.1514, 0.2925, 0.1199]

In [26]:
ll3 = [1,2,3,4]

In [27]:
ll4 = [4,3,2,1]

In [29]:
np.array(ll3)*np.array(ll4)

array([4, 6, 6, 4])

In [24]:
sum(ll2)

0.8120999999999999

In [25]:
sum(ll)

1.0001

In [14]:
list(np.array(ll) * 0.2775607947099124)

[0.044437483233056976,
 0.042577825908500566,
 0.03166968667640101,
 0.018901890119745034,
 0.010380773722150724,
 0.013295162066604804,
 0.09484252355237707,
 0.003969119364351748,
 0.017514086146195474]

In [22]:
list(np.array(ll2) * 0.09224182991852393)

[0.022903646368769494,
 0.013965413049664524,
 0.026980735251168248,
 0.01105979540723102]

In [23]:
list(np.array(ll2) * 0.768044558119488)

[0.19070546378106887,
 0.11628194609929049,
 0.22465303324995023,
 0.09208854251852662]

In [3]:
pd.read_csv('./data/new_final_df.pkl')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [6]:
c_year = datetime.datetime.today().year 
year = 2019

In [8]:
[c_year, c_year-1, c_year-2, c_year-3]

[2020, 2019, 2018, 2017]

In [7]:
if year in [c_year, c_year-1, c_year-2, c_year-3]:
    print("yes")

yes

In [4]:
d1_2015.iloc[113]

country_id                           VE
country_code                        VEN
country_name                  Venezuela
default_hist                          1
fiscal_balance_gdp              -10.652
government_grossdebt_gdp         11.055
inflation_data                  121.738
exports_growth                   -0.863
savings_gdp                       2.352
externaldebt                1.60909e+11
exports                     8.05242e+10
reserves                    1.56253e+10
real_gdppc                      14025.4
imports                     1.51446e+11
real_gdpgrowth                 -3.89439
real_gnipc                      13921.7
nominal_gdp                 4.82359e+11
political_stability           -0.977181
rule_of_law                    -2.03237
govt_effectiveness             -1.21992
m3_gdp                              NaN
externaldebt/exports            199.827
reserves/import                 10.3174
reserves/gdp                    3.23935
log_real_gnipc                  9.54121
predicted_specgrade            0.864393
Speculative_Grade_Prob         0.703578
y_hat                          -3.45173
(Threshold_Yhat)/sigma        -0.341696
Debt_Distress_prob             0.415397
Name: 113, dtype: object

In [5]:
d1_2016.iloc[113]

country_id                           VE
country_code                        VEN
country_name                  Venezuela
default_hist                          1
fiscal_balance_gdp              -10.834
government_grossdebt_gdp          5.054
inflation_data                  254.949
exports_growth                  -11.729
savings_gdp                       4.015
externaldebt                1.52523e+11
exports                             NaN
reserves                      1.015e+10
real_gdppc                          NaN
imports                             NaN
real_gdpgrowth                      NaN
real_gnipc                          NaN
nominal_gdp                         NaN
political_stability             -1.0246
rule_of_law                    -2.24108
govt_effectiveness             -1.28573
m3_gdp                              NaN
externaldebt/exports                NaN
reserves/import                     NaN
reserves/gdp                        NaN
log_real_gnipc                      NaN
predicted_specgrade                 NaN
Speculative_Grade_Prob              NaN
y_hat                               NaN
(Threshold_Yhat)/sigma              NaN
Debt_Distress_prob                  NaN
Name: 113, dtype: object

In [32]:
df = d3_2019
df.iloc[df.index[df.Debt_Distress_prob.isna()]].to_csv('nan_data/d3/d3_2019_nan_debt_distress.csv')
df.iloc[df.index[df.Debt_Distress_prob.isna()]].to_pickle('nan_data/d3/d3_2019_nan_debt_distress.pkl')

In [45]:
df = d1_2019
df.iloc[df.index[df.Speculative_Grade_Prob.isna()]].to_csv('nan_data/d1/d1_2019_nan_spec_grade.csv')
df.iloc[df.index[df.Speculative_Grade_Prob.isna()]].to_pickle('nan_data/d1/d1_2019_nan_spec_grade.pkl')

In [13]:
d1_2015.Debt_Distress_prob.isna().sum()

33

In [34]:
d3_2019.Debt_Distress_prob.isna().sum()

33

In [52]:
d1_2019.Speculative_Grade_Prob.isna().sum()

30

In [35]:
d3_2019.Speculative_Grade_Prob.isna().sum()

20

In [2]:
dtt = pd.read_pickle('data/new_final_df.pkl')

In [49]:
dtt

,country_id,country_code,country_name,default_hist,region
0,AF,AFG,Afghanistan,0,South Asia
1,AO,AGO,Angola,0,Sub-Saharan Africa
2,AL,ALB,Albania,0,Europe and Central Asia
3,AE,ARE,United Arab Emirates,0,Middle East and North Africa
4,AR,ARG,Argentina,1,Latin America & the Caribbean
...,...,...,...,...,...
113,VE,VEN,Venezuela,1,Latin America & the Caribbean
114,VN,VNM,Vietnam,0,East Asia and Pacific
115,YE,YEM,Yemen,0,Middle East and North Africa
116,ZA,ZAF,South Africa,0,Sub-Saharan Africa
117,ZM,ZMB,Zambia,0,Sub-Saharan Africa

In [58]:
d1_2015.columns

Index(['country_id', 'country_code', 'country_name', 'default_hist',
       'fiscal_balance_gdp', 'government_grossdebt_gdp', 'inflation_data',
       'exports_growth', 'savings_gdp', 'externaldebt', 'exports', 'reserves',
       'real_gdppc', 'imports', 'real_gdpgrowth', 'real_gnipc', 'nominal_gdp',
       'political_stability', 'rule_of_law', 'govt_effectiveness', 'm3_gdp',
       'externaldebt/exports', 'reserves/import', 'reserves/gdp',
       'log_real_gnipc', 'predicted_specgrade', 'Speculative_Grade_Prob',
       'y_hat', '(Threshold_Yhat)/sigma', 'Debt_Distress_prob'],
      dtype='object')

In [87]:
d1_2015.values[0]

array(['AF', 'AFG', 'Afghanistan', 0, -1.378, 9.144, -0.662, -11.021,
       21.387, 2636960122.3, 1417300546.13462, 6976966153.82054,
       574.184114271258, 8461684707.36777, 1.45131465458005, nan,
       19907111418.9938, -2.571222, -1.50404, -1.322968, 32.5635,
       186.05511226900583, 82.45362944976603, 35.047606892698994, nan,
       nan, nan, -3.3810633032827346, -0.35523260665912126,
       0.4121141053385461], dtype=object)

In [88]:
d1_2015

,country_id,country_code,country_name,default_hist,fiscal_balance_gdp,government_grossdebt_gdp,inflation_data,exports_growth,savings_gdp,externaldebt,...,m3_gdp,externaldebt/exports,reserves/import,reserves/gdp,log_real_gnipc,predicted_specgrade,Speculative_Grade_Prob,y_hat,(Threshold_Yhat)/sigma,Debt_Distress_prob
0,AF,AFG,Afghanistan,0,-1.378,9.144,-0.662,-11.021,21.387,2.636960e+09,...,32.5635,186.055112,82.453629,35.047607,NaN,NaN,NaN,-3.381063,-0.355233,0.412114
1,AO,AGO,Angola,0,-2.917,57.093,9.159,6.721,28.491,5.627231e+10,...,37.2993,162.763960,61.794402,20.474909,8.185396,1.514914,0.819788,-0.037999,-0.995624,0.269803
2,AL,ALB,Albania,0,-4.054,73.716,1.868,5.269,15.824,8.657265e+09,...,72.8943,278.826166,61.891794,27.562662,8.428617,1.341767,0.792780,2.051374,-1.395861,0.198474
3,AE,ARE,United Arab Emirates,0,-3.363,18.690,4.070,2.837,19.901,NaN,...,89.8393,NaN,35.275053,26.227294,10.607450,-1.845638,0.136386,NaN,NaN,NaN
4,AR,ARG,Argentina,1,-6.001,52.563,NaN,-1.633,14.328,1.765750e+11,...,23.7616,277.320574,36.424191,4.290979,9.245278,0.723606,0.673401,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,VE,VEN,Venezuela,1,-10.652,11.055,121.738,-0.863,2.352,1.609092e+11,...,NaN,199.826994,10.317406,3.239355,9.541206,0.864393,0.703578,-3.451727,-0.341696,0.415397
114,VN,VNM,Vietnam,0,-5.199,57.098,0.631,9.768,27.519,7.782862e+10,...,128.3430,44.860473,16.428223,14.619175,7.364647,1.629220,0.836063,1.406635,-1.272356,0.218854
115,YE,YEM,Yemen,0,-10.045,65.475,22.000,-37.959,-5.356,7.298876e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,ZA,ZAF,South Africa,0,-4.775,49.335,4.575,2.925,16.300,1.380775e+11,...,42.0734,144.173504,45.916126,14.447135,8.904900,0.311587,0.577273,3.715752,-1.714686,0.152557
117,ZM,ZMB,Zambia,0,-9.539,62.260,10.107,-11.374,40.103,1.191683e+10,...,18.3851,151.042532,29.611914,13.969676,NaN,NaN,NaN,-0.876946,-0.834917,0.302606

In [90]:
d1_2016['show']= True

In [96]:
d1_2016['show'].loc[2] = False

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [98]:
d1_2016[d1_2016['show']==True]

,country_id,country_code,country_name,default_hist,fiscal_balance_gdp,government_grossdebt_gdp,inflation_data,exports_growth,savings_gdp,externaldebt,...,externaldebt/exports,reserves/import,reserves/gdp,log_real_gnipc,predicted_specgrade,Speculative_Grade_Prob,y_hat,(Threshold_Yhat)/sigma,Debt_Distress_prob,show
0,AF,AFG,Afghanistan,0,0.118,7.823,4.384,-17.135,26.772,2.596712e+09,...,228.581116,99.378141,37.608041,NaN,NaN,NaN,-3.242117,-0.381849,0.405681,True
1,AO,AGO,Angola,0,-4.520,75.663,30.694,-0.662,24.487,5.716739e+10,...,201.006529,92.725239,23.409108,8.122965,1.942439,0.874620,-0.724539,-0.864112,0.296481,True
3,AE,ARE,United Arab Emirates,0,-2.810,20.217,1.617,6.063,20.002,NaN,...,NaN,31.574490,23.915982,10.627884,-1.974134,0.121946,NaN,NaN,NaN,True
4,AR,ARG,Argentina,1,-6.655,53.060,NaN,6.807,16.340,1.887576e+11,...,270.261836,50.786571,6.890109,9.211931,0.471299,0.615691,NaN,NaN,NaN,True
5,AM,ARM,Armenia,0,-5.632,51.929,-1.406,20.294,15.954,9.955623e+09,...,284.785405,48.865544,20.899732,8.295813,0.933907,0.717867,-0.177272,-0.968945,0.275091,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,VE,VEN,Venezuela,1,-10.834,5.054,254.949,-11.729,4.015,1.525229e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
114,VN,VNM,Vietnam,0,-3.081,59.662,2.668,10.723,29.520,8.566260e+10,...,44.572376,19.540700,17.794219,7.423902,1.320427,0.789253,1.665849,-1.322010,0.210484,True
115,YE,YEM,Yemen,0,-9.224,79.591,21.300,-69.037,-1.718,7.062886e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
116,ZA,ZAF,South Africa,0,-4.067,51.465,6.341,0.352,16.291,1.460410e+11,...,161.141896,52.965627,15.920016,8.891117,0.338562,0.583841,3.735707,-1.718509,0.152063,True
117,ZM,ZMB,Zambia,0,-6.097,60.668,17.869,-4.704,34.937,1.535900e+10,...,207.492393,29.061572,11.227610,NaN,NaN,NaN,-1.494039,-0.716708,0.328118,True

In [99]:
if 'show' in d1_2016.columns:
    print('y')

y