In [4]:
# !pip install dbnomics
# !pip install ray

In [1]:
import requests
import pandas as pd
import dbnomics
import pickle
import numpy as np
import datetime
import math 
import ray

In [3]:
final_df = pd.read_pickle('data/new_final_df.pkl')

In [4]:
''' 

weo_data() function can fetch the data for Following variables

1) General government net lending/borrowing - GGXCNL_NGDP
2) General government gross debt - GGXWDG_NGDP
3) Inflation, average consumer prices	- PCPIPCH
4) Volume of exports of goods and services - TX_RPCH
5) Gross national savings	= NGSD_NGDP

returns as list contains values as follows in sequence [GGXCNL_NGDP, GGXWDG_NGDP, NGSD_NGDP, PCPIPCH, TX_RPCH]

'''
@ray.remote
def weo_data(year):
    values_ed = []
    country_string = ''
    for country in final_df['country_code']:
        country_string+="+"+country
    country_string = country_string[1:]

    fnc = 'GGXCNL_NGDP+GGXWDG_NGDP+PCPIPCH+TX_RPCH+NGSD_NGDP'
    sr_code = country_string+'.'+fnc

    data = dbnomics.fetch_series("IMF", "WEO", series_code=sr_code, max_nb_series=1000)
    current_year_data = data.query('period=='+str(year))
    before_1_year_data = data.query('period=='+str(year-1))
    before_2_year_data = data.query('period=='+str(year-2))
    before_3_year_data = data.query('period=='+str(year-3))

    '''
    country_name as key and values as list contains [GGXCNL_NGDP, GGXWDG_NGDP, NGSD_NGDP, PCPIPCH, TX_RPCH]
    '''

    dict_values_ggxc = {}
    dict_values_ggxw = {}
    dict_values_ngsd = {}
    dict_values_pcpi = {}
    dict_values_txrp = {}


    vlist1 = []
    vlist2 = []
    vlist3 = []
    vlist4 = []
    vlist5 = []

    for country in final_df.country_code:
        cd1 = current_year_data[current_year_data['weo-country'] == country]
        cd2 = before_1_year_data[before_1_year_data['weo-country'] == country]
        cd3 = before_2_year_data[before_2_year_data['weo-country'] == country]
        cd4 = before_3_year_data[before_3_year_data['weo-country'] == country]
        if cd1.empty:
            v1 = [None,None,None,None,None]
        else:
            v1 = list(cd1['value'].values)
        if cd2.empty:
            v2 = [None,None,None,None,None]
        else:
            v2 = list(cd2['value'].values)
        if cd3.empty:
            v3 = [None,None,None,None,None]
        else:
            v3 = list(cd3['value'].values)
        if cd4.empty:
            v4 = [None,None,None,None,None]
        else:
            v4 = list(cd4['value'].values)

        for num, ver in enumerate([v1,v2,v3,v4]):
            if ver[0] == None or str(ver[0]) == 'nan':
                if num ==3:
                    dict_values_ggxc[country] = ver[0]  
                else:
                  continue
            else:
                dict_values_ggxc[country] = ver[0]
                break

        for num, ver in enumerate([v1,v2,v3,v4]):
            if ver[1] == None or str(ver[1]) == 'nan':
                if num ==3:
                    dict_values_ggxw[country] = ver[1]
                else:
                    continue
            else:
                dict_values_ggxw[country] = ver[1]
                break

        for num, ver in enumerate([v1,v2,v3,v4]):
            if ver[2] == None or str(ver[2]) == 'nan':
                if num ==3:
                    dict_values_ngsd[country] = ver[2]
                else:
                    continue
            else:
                dict_values_ngsd[country] = ver[2]
                break

        for num, ver in enumerate([v1,v2,v3,v4]):
            if ver[3] == None or str(ver[3]) == 'nan':
                if num ==3:
                    dict_values_pcpi[country] = ver[3]
                else:
                    continue
            else:
                dict_values_pcpi[country] = ver[3]
                break

        for num, ver in enumerate([v1,v2,v3,v4]):
            if ver[4] == None or str(ver[4]) == 'nan':
                if num ==3:
                    dict_values_txrp[country] = ver[4]
                else:
                    continue
            else:
                dict_values_txrp[country] = ver[4]
                break

        vlist1.append(dict_values_ggxc[country])
        vlist2.append(dict_values_ggxw[country])
        vlist3.append(dict_values_ngsd[country])
        vlist4.append(dict_values_pcpi[country])
        vlist5.append(dict_values_txrp[country])

    return [vlist1, vlist2, vlist3, vlist4, vlist5]

In [5]:
'''

7) External debt stocks, total (DOD, current US$) - DT.DOD.DECT.CD
8) Exports of goods and services (current US$) - NE.EXP.GNFS.CD
9) Total reserves (includes gold, current US$) - FI.RES.TOTL.CD
10) GDP per capita (constant 2010 US$) - NY.GDP.PCAP.KD
11) Imports of goods and services (current US$) - NE.IMP.GNFS.CD
12) GDP growth (annual %) - NY.GDP.MKTP.KD.ZG
13) GNI per capita (constant 2010 US$) - NY.GNP.PCAP.KD
14) GDP (current US$) - NY.GDP.MKTP.CD

'''
@ray.remote
def wb_data(year, indicatr):

    cr_yr_dict = {}
    before_1_yr_dict = {}
    before_2_yr_dict = {}
    before_3_yr_dict = {} 

    values_ed = []
    for i in range(6):
        try:
            dt0 = requests.get('http://api.worldbank.org/v2/country/all/indicator/'+indicatr+'?date='+str(year)+'&format=json&page='+str(i+1)).json()
        except:
            dt0 = None
        try:
            dt1 = requests.get('http://api.worldbank.org/v2/country/all/indicator/'+indicatr+'?date='+str(year-1)+'&format=json&page='+str(i+1)).json()
        except:
            dt1 = None
        try:
            dt2 = requests.get('http://api.worldbank.org/v2/country/all/indicator/'+indicatr+'?date='+str(year-2)+'&format=json&page='+str(i+1)).json()
        except:
            dt2 = None
        try:
            dt3 = requests.get('http://api.worldbank.org/v2/country/all/indicator/'+indicatr+'?date='+str(year-3)+'&format=json&page='+str(i+1)).json()
        except:
            dt3 = None

        if dt0 != None and dt0[0]['total']!=0:
            for item in dt0[1]:
                cr_yr_dict[item['country']['id']] = item['value']
        if dt1 != None and dt1[0]['total']!=0:
            for item in dt1[1]:
                before_1_yr_dict[item['country']['id']] = item['value']
        if dt2 != None and dt2[0]['total']!=0:
            for item in dt2[1]:
                before_2_yr_dict[item['country']['id']] = item['value']
        if dt3 != None and dt3[0]['total']!=0:
            for item in dt3[1]:
                before_3_yr_dict[item['country']['id']] = item['value']

    for cntry in final_df['country_id']:
        if len(cr_yr_dict)>0 and cr_yr_dict[cntry] != None:
            values_ed.append(cr_yr_dict[cntry])
        elif len(before_1_yr_dict)>0 and before_1_yr_dict[cntry] != None:
            values_ed.append(before_1_yr_dict[cntry])
        elif len(before_2_yr_dict)>0 and before_2_yr_dict[cntry] != None:
            values_ed.append(before_2_yr_dict[cntry])
        elif len(before_3_yr_dict) and before_3_yr_dict[cntry] != None:
            values_ed.append(before_3_yr_dict[cntry])
        else:
            values_ed.append(None)
  
    return values_ed

In [6]:
'''

15) Political Stability Estimate - PV.EST
16) Rule of Law Estimate - RL.EST
17) Govt Effectiveness Estimate - GE.EST

'''
@ray.remote
def pol_data(year, indicatr):
    cr_yr_dict = {}
    before_1_yr_dict = {}
    before_2_yr_dict = {}
    before_3_yr_dict = {} 
    values_ed = []
    for i in range(5):
        try:
            dt0 = requests.get('http://api.worldbank.org/v2/sources/3/country/all/series/'+indicatr+'/time/yr'+str(year)+'?format=json&page='+str(i+1)).json()
        except:
            dt0 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year, i+1))
        try:
            dt1 = requests.get('http://api.worldbank.org/v2/sources/3/country/all/series/'+indicatr+'/time/yr'+str(year-1)+'?format=json&page='+str(i+1)).json()
        except:
            dt1 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year-1, i+1))
        try:
            dt2 = requests.get('http://api.worldbank.org/v2/sources/3/country/all/series/'+indicatr+'/time/yr'+str(year-2)+'?format=json&page='+str(i+1)).json()
        except:
            dt2 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year-2, i+1))
        try:
            dt3 = requests.get('http://api.worldbank.org/v2/sources/3/country/all/series/'+indicatr+'/time/yr'+str(year-3)+'?format=json&page='+str(i+1)).json()
        except:
            dt3 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year-3, i+1))

        if dt0 != None:
            for item in dt0['source']['data']:
                cr_yr_dict[item['variable'][0]['id']] = item['value']
        if dt1 != None:
            for item in dt1['source']['data']:
                before_1_yr_dict[item['variable'][0]['id']] = item['value']
        if dt2 != None:
            for item in dt2['source']['data']:
                before_2_yr_dict[item['variable'][0]['id']] = item['value']
        if dt3 != None:
            for item in dt3['source']['data']:
                before_3_yr_dict[item['variable'][0]['id']] = item['value']
    
    for cntry in final_df['country_code']:
        if len(cr_yr_dict)>0 and cr_yr_dict[cntry] != None:
            values_ed.append(cr_yr_dict[cntry])
        elif len(before_1_yr_dict)>0 and before_1_yr_dict[cntry] != None:
            values_ed.append(before_1_yr_dict[cntry])
        elif len(before_2_yr_dict)>0 and before_2_yr_dict[cntry] != None:
            values_ed.append(before_2_yr_dict[cntry])
        elif len(before_3_yr_dict) and before_3_yr_dict[cntry] != None:
            values_ed.append(before_3_yr_dict[cntry])
        else:
            values_ed.append(None)
    return values_ed

In [7]:
'''

15) Liquid Liabilities to GDP - GFDD.DI.05

'''
@ray.remote
def LL_GDP_data(year):
    indicatr = 'GFDD.DI.05'
    cr_yr_dict = {}
    before_1_yr_dict = {}
    before_2_yr_dict = {}
    before_3_yr_dict = {} 
    values_ed = []
    for i in range(5):
        try:
            dt0 = requests.get('http://api.worldbank.org/v2/sources/32/country/all/series/GFDD.DI.05/time/yr'+str(year)+'?format=json&page='+str(i+1)).json()
        except:
            dt0 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year, i+1))
        try:
            dt1 = requests.get('http://api.worldbank.org/v2/sources/32/country/all/series/GFDD.DI.05/time/yr'+str(year-1)+'?format=json&page='+str(i+1)).json()
        except:
            dt1 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year-1, i+1))
        try:
            dt2 = requests.get('http://api.worldbank.org/v2/sources/32/country/all/series/GFDD.DI.05/time/yr'+str(year-2)+'?format=json&page='+str(i+1)).json()
        except:
            dt2 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year-2, i+1))
        try:
            dt3 = requests.get('http://api.worldbank.org/v2/sources/32/country/all/series/GFDD.DI.05/time/yr'+str(year-3)+'?format=json&page='+str(i+1)).json()
        except:
            dt3 = None
            print("No data available for {} for year {} in page {}".format(indicatr, year-3, i+1))

        if dt0 != None:
            for item in dt0['source']['data']:
                cr_yr_dict[item['variable'][0]['id']] = item['value']
        if dt1 != None:
            for item in dt1['source']['data']:
                before_1_yr_dict[item['variable'][0]['id']] = item['value']
        if dt2 != None:
            for item in dt2['source']['data']:
                before_2_yr_dict[item['variable'][0]['id']] = item['value']
        if dt3 != None:
            for item in dt3['source']['data']:
                before_3_yr_dict[item['variable'][0]['id']] = item['value']
    
    for cntry in final_df['country_code']:
        if len(cr_yr_dict)>0 and cr_yr_dict[cntry] != None:
            values_ed.append(cr_yr_dict[cntry])
        elif len(before_1_yr_dict)>0 and before_1_yr_dict[cntry] != None:
            values_ed.append(before_1_yr_dict[cntry])
        elif len(before_2_yr_dict)>0 and before_2_yr_dict[cntry] != None:
            values_ed.append(before_2_yr_dict[cntry])
        elif len(before_3_yr_dict) and before_3_yr_dict[cntry] != None:
            values_ed.append(before_3_yr_dict[cntry])
        else:
            values_ed.append(None)
    return values_ed

In [8]:
clms = ['fiscal_balance_gdp', 'government_grossdebt_gdp', 'inflation_data', 'exports_growth', 'savings_gdp', 'externaldebt',
               'exports', 'reserves', 'real_gdppc', 'imports', 'real_gdpgrowth', 'real_gnipc', 'nominal_gdp', 'political_stability', 'rule_of_law',
               'govt_effectiveness', 'm3_gdp'] #, 'reer']

def fetch_data(year):
    try:
        ray.init()
        c_year = datetime.datetime.today().year 
        year = year - 1
        final_dfd = pd.read_pickle('new_final_df.pkl')
        if c_year >= year:
    #     [fiscal_balance_gdp, government_grossdebt_gdp, savings_gdp, inflation_data, exports_growth] = weo_data(year)

    #     externaldebt = wb_data(year, 'DT.DOD.DECT.CD')
    #     exports = wb_data(year, 'NE.EXP.GNFS.CD')
    #     political_stability = pol_data(year, 'PV.EST')

    #     reserves = wb_data(year, 'FI.RES.TOTL.CD')
    #     real_gdppc = wb_data(year, 'NY.GDP.PCAP.KD')
    #     rule_of_law = pol_data(year, 'RL.EST')

    #     imports = wb_data(year, 'NE.IMP.GNFS.CD')
    #     real_gdpgrowth = wb_data(year, 'NY.GDP.MKTP.KD.ZG')
    #     govt_effectiveness = pol_data(year, 'GE.EST')

    #     real_gnipc = wb_data(year, 'NY.GNP.PCAP.KD')
    #     nominal_gdp = wb_data(year, 'NY.GDP.MKTP.CD')

    #     m3_gdp = LL_GDP_data(year)

            ret_id1 = weo_data.remote(year)
            ret_id2 = wb_data.remote(year, 'DT.DOD.DECT.CD')
            ret_id3 = wb_data.remote(year, 'NE.EXP.GNFS.CD')
            ret_id4 = pol_data.remote(year, 'PV.EST')
            ret_id5 = wb_data.remote(year, 'FI.RES.TOTL.CD')
            ret_id6 = wb_data.remote(year, 'NY.GDP.PCAP.KD')
            ret_id7 = pol_data.remote(year, 'RL.EST')
            ret_id8 = wb_data.remote(year, 'NE.IMP.GNFS.CD')
            ret_id9 = wb_data.remote(year, 'NY.GDP.MKTP.KD.ZG')
            ret_id10 = pol_data.remote(year, 'GE.EST')

            ret_id11 = wb_data.remote(year, 'NY.GNP.PCAP.KD')
            ret_id12 = wb_data.remote(year, 'NY.GDP.MKTP.CD')

            ret_id13 = LL_GDP_data.remote(year)


            [fiscal_balance_gdp, government_grossdebt_gdp, savings_gdp, inflation_data, exports_growth], externaldebt, exports, political_stability, reserves, real_gdppc, rule_of_law, imports, real_gdpgrowth, govt_effectiveness, real_gnipc, nominal_gdp, m3_gdp = ray.get([ret_id1, ret_id2, ret_id3, ret_id4, ret_id5, ret_id6, ret_id7, ret_id8, ret_id9, ret_id10, ret_id11, ret_id12, ret_id13])
        #     [fiscal_balance_gdp, government_grossdebt_gdp, savings_gdp, inflation_data, exports_growth] = ret1 
            # reer = EREER_IX_data(year)

            lt_118 = []
            ind_lst = [fiscal_balance_gdp, government_grossdebt_gdp, inflation_data, exports_growth, savings_gdp, externaldebt,
                       exports, reserves, real_gdppc, imports, real_gdpgrowth, real_gnipc, nominal_gdp, political_stability, rule_of_law,
                       govt_effectiveness, m3_gdp] #, reer]

            for nm, indctr in enumerate(ind_lst):
                if len(indctr) < 118:
                    lt_118.append(clms[nm])

            for col,vals in zip(clms, ind_lst):
                if vals not in lt_118:
                    final_dfd[col] = vals

            final_dfd['externaldebt/exports'] = (final_dfd['externaldebt']/final_dfd['exports'])*100
            final_dfd['reserves/import'] = (final_dfd['reserves']/final_dfd['imports'])*100
            final_dfd['reserves/gdp'] = (final_dfd['reserves']/final_dfd['nominal_gdp'])*100
            final_dfd['log_real_gnipc'] = final_dfd['real_gnipc'].apply(lambda x: math.log(x))
            final_dfd['predicted_specgrade'] = (final_dfd['log_real_gnipc']*(-5.3914)+final_dfd['savings_gdp']*(-0.1321)+final_dfd['rule_of_law']*(-4.9736)+final_dfd['government_grossdebt_gdp']*(0.1253)+46.7664)/math.sqrt(1+(7.463)**2)
            final_dfd['Speculative_Grade_Prob'] = final_dfd['predicted_specgrade'].apply(lambda x: math.exp(x)/(1+math.exp(x)))
            final_dfd['y_hat'] = final_dfd['externaldebt/exports']*( -0.0081)+final_dfd['real_gdppc']*(0.0005)+final_dfd['reserves/import']*(0.02867)+final_dfd['fiscal_balance_gdp']*(0.06526)+final_dfd['political_stability']*(1.09237)+final_dfd['default_hist']*(-0.50728)+final_dfd['govt_effectiveness']*(1.3579)+final_dfd['real_gdpgrowth']*(0.09908)+final_dfd['inflation_data']*(-0.03967)
            final_dfd['(Threshold_Yhat)/sigma']= final_dfd['y_hat'].apply(lambda x: ((-5.2355)-x)/math.sqrt(27.252))
            final_dfd['Debt_Distress_prob'] = final_dfd['(Threshold_Yhat)/sigma'].apply(lambda x: math.exp(x)/(1+math.exp(x)))
            ray.shutdown()
            return final_dfd 
        else:
            print("The Year You have Passed is in Future, Please use the Current Year or Past Year for Made this Working")
    except:
        print("Some Error Occured")
        ray.shutdown()
    finally:
        ray.shutdown()

In [26]:
%%time
dtt = fetch_data(2016)

2020-09-10 14:33:19,647	INFO resource_spec.py:231 -- Starting Ray with 2.29 GiB memory available for workers and up to 1.15 GiB for objects. You can adjust these settings with ray.init(memory=<bytes>, object_store_memory=<bytes>).
2020-09-10 14:33:20,058	INFO services.py:1193 -- View the Ray dashboard at localhost:8265

CPU times: user 2.21 s, sys: 1.04 s, total: 3.25 s
Wall time: 1min 3s

In [23]:
dtt

,country_id,country_code,country_name,default_hist,fiscal_balance_gdp,government_grossdebt_gdp,inflation_data,exports_growth,savings_gdp,externaldebt,...,m3_gdp,externaldebt/exports,reserves/import,reserves/gdp,log_real_gnipc,predicted_specgrade,Speculative_Grade_Prob,y_hat,(Threshold_Yhat)/sigma,Debt_Distress_prob
0,AF,AFG,Afghanistan,0,0.118,7.823,4.384,-17.135,26.772,2.596712e+09,...,32.7072,228.581116,99.378141,37.608041,NaN,NaN,NaN,-3.242117,-0.381849,0.405681
1,AO,AGO,Angola,0,-4.520,75.663,30.694,-0.662,24.487,5.716739e+10,...,35.9042,201.006529,92.725239,23.409108,8.122965,1.942439,0.874620,-0.724539,-0.864112,0.296481
2,AL,ALB,Albania,0,-1.762,73.324,1.282,10.387,16.791,8.741215e+09,...,72.9772,254.317530,57.183238,26.208199,8.466958,1.291247,0.784358,2.477470,-1.477483,0.185808
3,AE,ARE,United Arab Emirates,0,-2.810,20.217,1.617,6.063,20.002,NaN,...,90.5634,NaN,31.574490,23.915982,10.627884,-1.974134,0.121946,NaN,NaN,NaN
4,AR,ARG,Argentina,1,-6.655,53.060,10.619,6.807,16.340,1.887576e+11,...,24.3082,270.261836,50.786571,6.890109,9.211931,0.471299,0.615691,3.261393,-1.627650,0.164153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,VE,VEN,Venezuela,1,-10.834,5.054,254.949,-11.729,4.015,1.525229e+11,...,42.6290,189.412384,6.702046,2.104241,9.541206,0.873217,0.705415,-8.908544,0.703602,0.668986
114,VN,VNM,Vietnam,0,-3.081,59.662,2.668,10.723,29.520,8.566260e+10,...,139.4410,44.572376,19.540700,17.794219,7.423902,1.320427,0.789253,1.665849,-1.322010,0.210484
115,YE,YEM,Yemen,0,-9.224,79.591,21.300,-69.037,-1.718,7.062886e+09,...,32.7087,NaN,NaN,19.029227,NaN,NaN,NaN,NaN,NaN,NaN
116,ZA,ZAF,South Africa,0,-4.067,51.465,6.341,0.352,16.291,1.460410e+11,...,43.1176,161.141896,52.965627,15.920016,8.891117,0.338562,0.583841,3.735707,-1.718509,0.152063
117,ZM,ZMB,Zambia,0,-6.097,60.668,17.869,-4.704,34.937,1.535900e+10,...,18.2512,207.492393,29.061572,11.227610,NaN,NaN,NaN,-1.494039,-0.716708,0.328118

In [15]:
dtest = pd.read_json('https://raw.githubusercontent.com/jayeshmanani/TensorFlow/master/hs.json')

    code3          name   value code
0     ABW         Aruba  582.34   AW
1     AFG   Afghanistan   53.08   AF
2     AGO        Angola   23.11   AO
3     ALB       Albania  104.97   AL
4     AND       Andorra  164.43   AD
..    ...           ...     ...  ...
208   WSM         Samoa   68.95   WS
209   YEM   Yemen, Rep.   52.25   YE
210   ZAF  South Africa   46.18   ZA
211   ZMB        Zambia   22.32   ZM
212   ZWE      Zimbabwe   41.75   ZW

[213 rows x 4 columns]

In [69]:
dt2 = pd.read_pickle('../data_website/firstUI/data/2019.pkl')

In [70]:
dt2

,country_id,country_code,country_name,default_hist,fiscal_balance_gdp,government_grossdebt_gdp,inflation_data,exports_growth,savings_gdp,externaldebt,...,m3_gdp,externaldebt/exports,reserves/import,reserves/gdp,log_real_gnipc,predicted_specgrade,Speculative_Grade_Prob,y_hat,(Threshold_Yhat)/sigma,Debt_Distress_prob
0,AF,AFG,Afghanistan,0,-0.983,7.547,2.302,-17.605,19.248,2.605358e+09,...,33.8223,175.909266,117.481568,44.487191,NaN,NaN,NaN,-2.618245,-0.501357,0.377222
1,AO,AGO,Angola,0,0.695,94.993,17.079,0.656,20.994,5.456337e+10,...,29.8246,131.830920,63.099727,17.260825,8.000524,2.387099,0.915838,-0.202453,-0.964122,0.276054
2,AL,ALB,Albania,0,-1.957,66.677,1.411,1.736,17.408,1.012192e+10,...,71.2840,210.246651,54.480278,24.634389,8.466958,1.211673,0.770595,3.072580,-1.591481,0.169176
3,AE,ARE,United Arab Emirates,0,-0.814,20.135,-1.931,3.067,37.712,NaN,...,84.8594,NaN,37.572912,25.729870,10.636530,-2.264257,0.094127,NaN,NaN,NaN
4,AR,ARG,Argentina,1,-3.869,93.301,53.548,9.892,17.328,2.805157e+11,...,25.4298,360.802090,66.577098,10.055437,9.143250,1.071327,0.744849,0.809576,-1.157984,0.239034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,VE,VEN,Venezuela,1,-10.007,182.448,19906.020,-38.665,17.039,1.548981e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,VN,VNM,Vietnam,0,-3.302,54.346,2.797,11.669,28.524,1.080963e+11,...,145.3190,38.644426,28.867207,29.907782,7.557322,1.205853,0.769564,2.141930,-1.413207,0.195729
115,YE,YEM,Yemen,0,-3.823,56.263,10.000,43.381,3.917,7.036567e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,ZA,ZAF,South Africa,0,-6.254,59.873,4.130,2.673,14.517,1.793064e+11,...,42.9300,170.904998,53.375816,15.666174,8.872545,0.667374,0.660915,3.422051,-1.658425,0.159974
117,ZM,ZMB,Zambia,0,-7.598,91.649,9.800,2.260,37.541,1.911604e+10,...,18.5960,236.655331,17.937843,6.280692,NaN,NaN,NaN,-1.893404,-0.640206,0.345200

In [41]:
dt2.Debt_Distress_prob = dt2.Debt_Distress_prob * 100

In [61]:
dt3 = dt2[['country_code','Debt_Distress_prob']].rename(columns={'country_code':'code3','Debt_Distress_prob':'value'})

In [67]:
ft = dtest.drop(columns=['value']).merge(dt3, on='code3', how='left')[['code3','name','value','code']]

In [103]:
ft.iloc[0]

code3      ABW
name     Aruba
value      NaN
code        AW
Name: 0, dtype: object

In [105]:
lst = []
for i in range(len(ft)):
    lst.append({"code3": ft.iloc[i]['code3'],
		"name": ft.iloc[i]['name'],
		"value": ft.iloc[i]['value'],
		"code": ft.iloc[i]['code']})

In [106]:
lst

[{'code3': 'ABW', 'name': 'Aruba', 'value': nan, 'code': 'AW'},
 {'code3': 'AFG',
  'name': 'Afghanistan',
  'value': 37.72218892113776,
  'code': 'AF'},
 {'code3': 'AGO', 'name': 'Angola', 'value': 27.605373947824013, 'code': 'AO'},
 {'code3': 'ALB', 'name': 'Albania', 'value': 16.91756348030786, 'code': 'AL'},
 {'code3': 'AND', 'name': 'Andorra', 'value': nan, 'code': 'AD'},
 {'code3': 'ARE', 'name': 'United Arab Emirates', 'value': nan, 'code': 'AE'},
 {'code3': 'ARG',
  'name': 'Argentina',
  'value': 23.903379852603074,
  'code': 'AR'},
 {'code3': 'ARM',
  'name': 'Armenia',
  'value': 20.181543986912832,
  'code': 'AM'},
 {'code3': 'ASM', 'name': 'American Samoa', 'value': nan, 'code': 'AS'},
 {'code3': 'ATG', 'name': 'Antigua and Barbuda', 'value': nan, 'code': 'AG'},
 {'code3': 'AUS', 'name': 'Australia', 'value': nan, 'code': 'AU'},
 {'code3': 'AUT', 'name': 'Austria', 'value': nan, 'code': 'AT'},
 {'code3': 'AZE',
  'name': 'Azerbaijan',
  'value': 16.33271381943457,
  'code': 'AZ'},
 {'code3': 'BDI', 'name': 'Burundi', 'value': 49.63763703400201, 'code': 'BI'},
 {'code3': 'BEL', 'name': 'Belgium', 'value': nan, 'code': 'BE'},
 {'code3': 'BEN', 'name': 'Benin', 'value': nan, 'code': 'BJ'},
 {'code3': 'BFA', 'name': 'Burkina Faso', 'value': nan, 'code': 'BF'},
 {'code3': 'BGD',
  'name': 'Bangladesh',
  'value': 29.65364828051004,
  'code': 'BD'},
 {'code3': 'BGR',
  'name': 'Bulgaria',
  'value': 9.187461173141601,
  'code': 'BG'},
 {'code3': 'BHR', 'name': 'Bahrain', 'value': nan, 'code': 'BH'},
 {'code3': 'BHS', 'name': 'Bahamas, The', 'value': nan, 'code': 'BS'},
 {'code3': 'BIH',
  'name': 'Bosnia and Herzegovina',
  'value': 18.57280584270896,
  'code': 'BA'},
 {'code3': 'BLR',
  'name': 'Belarus',
  'value': 16.726975881314644,
  'code': 'BY'},
 {'code3': 'BLZ', 'name': 'Belize', 'value': nan, 'code': 'BZ'},
 {'code3': 'BMU', 'name': 'Bermuda', 'value': nan, 'code': 'BM'},
 {'code3': 'BOL',
  'name': 'Bolivia',
  'value': 24.423767001924656,
  'code': 'BO'},
 {'code3': 'BRA', 'name': 'Brazil', 'value': 10.033111454912214, 'code': 'BR'},
 {'code3': 'BRB', 'name': 'Barbados', 'value': nan, 'code': 'BB'},
 {'code3': 'BRN', 'name': 'Brunei Darussalam', 'value': nan, 'code': 'BN'},
 {'code3': 'BTN', 'name': 'Bhutan', 'value': 16.171251105791413, 'code': 'BT'},
 {'code3': 'BWA', 'name': 'Botswana', 'value': 8.02412585172826, 'code': 'BW'},
 {'code3': 'CAF',
  'name': 'Central African Republic',
  'value': 48.367953450089864,
  'code': 'CF'},
 {'code3': 'CAN', 'name': 'Canada', 'value': nan, 'code': 'CA'},
 {'code3': 'CHE', 'name': 'Switzerland', 'value': nan, 'code': 'CH'},
 {'code3': 'CHL', 'name': 'Chile', 'value': nan, 'code': 'CL'},
 {'code3': 'CHN', 'name': 'China', 'value': 7.750597490093593, 'code': 'CN'},
 {'code3': 'CIV', 'name': "Cote d'Ivoire", 'value': nan, 'code': 'CI'},
 {'code3': 'CMR',
  'name': 'Cameroon',
  'value': 34.91573930546533,
  'code': 'CM'},
 {'code3': 'COD',
  'name': 'Congo, Dem. Rep.',
  'value': 45.30075345578306,
  'code': 'CD'},
 {'code3': 'COG',
  'name': 'Congo, Rep.',
  'value': 29.968123519117995,
  'code': 'CG'},
 {'code3': 'COL',
  'name': 'Colombia',
  'value': 17.27224393366323,
  'code': 'CO'},
 {'code3': 'COM', 'name': 'Comoros', 'value': nan, 'code': 'KM'},
 {'code3': 'CPV', 'name': 'Cabo Verde', 'value': nan, 'code': 'CV'},
 {'code3': 'CRI',
  'name': 'Costa Rica',
  'value': 10.527127887721607,
  'code': 'CR'},
 {'code3': 'CUB', 'name': 'Cuba', 'value': nan, 'code': 'CU'},
 {'code3': 'CUW', 'name': 'Curacao', 'value': nan, 'code': 'CW'},
 {'code3': 'CYM', 'name': 'Cayman Islands', 'value': nan, 'code': 'KY'},
 {'code3': 'CYP', 'name': 'Cyprus', 'value': nan, 'code': 'CY'},
 {'code3': 'CZE', 'name': 'Czech Republic', 'value': nan, 'code': 'CZ'},
 {'code3': 'DEU', 'name': 'Germany', 'value': nan, 'code': 'DE'},
 {'code3': 'DJI', 'name': 'Djibouti', 'value': nan, 'code': 'DJ'},
 {'code3': 'DMA', 'name': 'Dominica', 'value': nan, 'code': 'DM'},
 {'code3': 'DNK', 'name': 'Denmark', 'value': nan, 'code': 'DK'},
 {'code3': 'DOM',
  'name': 'Dominican Republic',
  'value': 17.248171773649705,
  'code': 'DO'},
 {'code3': 'DZA',
  'name': 'Algeria',
  'value': 13.316973396560716,
  'code': 'DZ'},
 {'code3': 'ECU', 'name': 'Ecuador', 'value': 23.9055096520318, 'code': 'EC'},
 {'code3': 'EGY',
  'name': 'Egypt, Arab Rep.',
  'value': 30.743290207214113,
  'code': 'EG'},
 {'code3': 'ESP', 'name': 'Spain', 'value': nan, 'code': 'ES'},
 {'code3': 'EST', 'name': 'Estonia', 'value': nan, 'code': 'EE'},
 {'code3': 'ETH',
  'name': 'Ethiopia',
  'value': 46.56940094559425,
  'code': 'ET'},
 {'code3': 'FIN', 'name': 'Finland', 'value': nan, 'code': 'FI'},
 {'code3': 'FJI', 'name': 'Fiji', 'value': nan, 'code': 'FJ'},
 {'code3': 'FRA', 'name': 'France', 'value': nan, 'code': 'FR'},
 {'code3': 'FRO', 'name': 'Faroe Islands', 'value': nan, 'code': 'FO'},
 {'code3': 'FSM', 'name': 'Micronesia, Fed. Sts.', 'value': nan, 'code': 'FM'},
 {'code3': 'GAB', 'name': 'Gabon', 'value': 15.847630152057368, 'code': 'GA'},
 {'code3': 'GBR', 'name': 'United Kingdom', 'value': nan, 'code': 'GB'},
 {'code3': 'GEO', 'name': 'Georgia', 'value': 18.47730916477085, 'code': 'GE'},
 {'code3': 'GHA', 'name': 'Ghana', 'value': 24.30937165121412, 'code': 'GH'},
 {'code3': 'GIB', 'name': 'Gibraltar', 'value': nan, 'code': 'GI'},
 {'code3': 'GIN', 'name': 'Guinea', 'value': 33.17255373026369, 'code': 'GN'},
 {'code3': 'GMB',
  'name': 'Gambia, The',
  'value': 31.148184196641722,
  'code': 'GM'},
 {'code3': 'GNB', 'name': 'Guinea-Bissau', 'value': nan, 'code': 'GW'},
 {'code3': 'GNQ', 'name': 'Equatorial Guinea', 'value': nan, 'code': 'GQ'},
 {'code3': 'GRC', 'name': 'Greece', 'value': nan, 'code': 'GR'},
 {'code3': 'GRD', 'name': 'Grenada', 'value': nan, 'code': 'GD'},
 {'code3': 'GRL', 'name': 'Greenland', 'value': nan, 'code': 'GL'},
 {'code3': 'GTM',
  'name': 'Guatemala',
  'value': 23.579562578513798,
  'code': 'GT'},
 {'code3': 'GUM', 'name': 'Guam', 'value': nan, 'code': 'GU'},
 {'code3': 'GUY', 'name': 'Guyana', 'value': 21.55091070286235, 'code': 'GY'},
 {'code3': 'HKG', 'name': 'Hong Kong SAR, China', 'value': nan, 'code': 'HK'},
 {'code3': 'HND',
  'name': 'Honduras',
  'value': 26.250765402285285,
  'code': 'HN'},
 {'code3': 'HRV', 'name': 'Croatia', 'value': nan, 'code': 'HR'},
 {'code3': 'HTI', 'name': 'Haiti', 'value': 42.76749659910147, 'code': 'HT'},
 {'code3': 'HUN', 'name': 'Hungary', 'value': nan, 'code': 'HU'},
 {'code3': 'IDN',
  'name': 'Indonesia',
  'value': 20.378678369782442,
  'code': 'ID'},
 {'code3': 'IMN', 'name': 'Isle of Man', 'value': nan, 'code': 'IM'},
 {'code3': 'IND', 'name': 'India', 'value': 21.1528229609084, 'code': 'IN'},
 {'code3': 'IRL', 'name': 'Ireland', 'value': nan, 'code': 'IE'},
 {'code3': 'IRN', 'name': 'Iran, Islamic Rep.', 'value': nan, 'code': 'IR'},
 {'code3': 'IRQ', 'name': 'Iraq', 'value': nan, 'code': 'IQ'},
 {'code3': 'ISL', 'name': 'Iceland', 'value': nan, 'code': 'IS'},
 {'code3': 'ISR', 'name': 'Israel', 'value': nan, 'code': 'IL'},
 {'code3': 'ITA', 'name': 'Italy', 'value': nan, 'code': 'IT'},
 {'code3': 'JAM',
  'name': 'Jamaica',
  'value': 17.974188063343593,
  'code': 'JM'},
 {'code3': 'JOR', 'name': 'Jordan', 'value': 21.26307602406998, 'code': 'JO'},
 {'code3': 'JPN', 'name': 'Japan', 'value': nan, 'code': 'JP'},
 {'code3': 'KAZ',
  'name': 'Kazakhstan',
  'value': 10.940496305460861,
  'code': 'KZ'},
 {'code3': 'KEN', 'name': 'Kenya', 'value': 36.462269958878906, 'code': 'KE'},
 {'code3': 'KGZ',
  'name': 'Kyrgyz Republic',
  'value': 32.176763509498144,
  'code': 'KG'},
 {'code3': 'KHM',
  'name': 'Cambodia',
  'value': 17.248710004827526,
  'code': 'KH'},
 {'code3': 'KIR', 'name': 'Kiribati', 'value': nan, 'code': 'KI'},
 {'code3': 'KNA', 'name': 'St. Kitts and Nevis', 'value': nan, 'code': 'KN'},
 {'code3': 'KOR', 'name': 'Korea, Rep.', 'value': nan, 'code': 'KR'},
 {'code3': 'KWT', 'name': 'Kuwait', 'value': nan, 'code': 'KW'},
 {'code3': 'LAO', 'name': 'Lao PDR', 'value': 32.79362927484492, 'code': 'LA'},
 {'code3': 'LBN',
  'name': 'Lebanon',
  'value': 26.765366136393105,
  'code': 'LB'},
 {'code3': 'LBR', 'name': 'Liberia', 'value': 44.31472079863036, 'code': 'LR'},
 {'code3': 'LBY', 'name': 'Libya', 'value': nan, 'code': 'LY'},
 {'code3': 'LCA', 'name': 'St. Lucia', 'value': nan, 'code': 'LC'},
 {'code3': 'LIE', 'name': 'Liechtenstein', 'value': nan, 'code': 'LI'},
 {'code3': 'LKA',
  'name': 'Sri Lanka',
  'value': 27.60254422573876,
  'code': 'LK'},
 {'code3': 'LSO', 'name': 'Lesotho', 'value': 29.86417597588838, 'code': 'LS'},
 {'code3': 'LTU', 'name': 'Lithuania', 'value': nan, 'code': 'LT'},
 {'code3': 'LUX', 'name': 'Luxembourg', 'value': nan, 'code': 'LU'},
 {'code3': 'LVA', 'name': 'Latvia', 'value': nan, 'code': 'LV'},
 {'code3': 'MAC', 'name': 'Macao SAR, China', 'value': nan, 'code': 'MO'},
 {'code3': 'MAF',
  'name': 'St. Martin (French part)',
  'value': nan,
  'code': 'MF'},
 {'code3': 'MAR',
  'name': 'Morocco',
  'value': 21.654029649533232,
  'code': 'MA'},
 {'code3': 'MCO', 'name': 'Monaco', 'value': nan, 'code': 'MC'},
 {'code3': 'MDA',
  'name': 'Moldova',
  'value': 26.479336904471495,
  'code': 'MD'},
 {'code3': 'MDG',
  'name': 'Madagascar',
  'value': 32.82504681802695,
  'code': 'MG'},
 {'code3': 'MDV',
  'name': 'Maldives',
  'value': 15.299711445532308,
  'code': 'MV'},
 {'code3': 'MEX', 'name': 'Mexico', 'value': 13.83253008397677, 'code': 'MX'},
 {'code3': 'MHL', 'name': 'Marshall Islands', 'value': nan, 'code': 'MH'},
 {'code3': 'MKD',
  'name': 'Macedonia, FYR',
  'value': 16.83011330419766,
  'code': 'MK'},
 {'code3': 'MLI', 'name': 'Mali', 'value': nan, 'code': 'ML'},
 {'code3': 'MLT', 'name': 'Malta', 'value': nan, 'code': 'MT'},
 {'code3': 'MMR', 'name': 'Myanmar', 'value': 35.68482989244948, 'code': 'MM'},
 {'code3': 'MNE', 'name': 'Montenegro', 'value': nan, 'code': 'ME'},
 {'code3': 'MNG',
  'name': 'Mongolia',
  'value': 21.17690839412414,
  'code': 'MN'},
 {'code3': 'MNP',
  'name': 'Northern Mariana Islands',
  'value': nan,
  'code': 'MP'},
 {'code3': 'MOZ',
  'name': 'Mozambique',
  'value': 38.60367255195797,
  'code': 'MZ'},
 {'code3': 'MRT',
  'name': 'Mauritania',
  'value': 29.753362880411988,
  'code': 'MR'},
 {'code3': 'MUS', 'name': 'Mauritius', 'value': nan, 'code': 'MU'},
 {'code3': 'MWI', 'name': 'Malawi', 'value': 32.176620589910044, 'code': 'MW'},
 {'code3': 'MYS', 'name': 'Malaysia', 'value': nan, 'code': 'MY'},
 {'code3': 'NAM', 'name': 'Namibia', 'value': nan, 'code': 'NA'},
 {'code3': 'NCL', 'name': 'New Caledonia', 'value': nan, 'code': 'NC'},
 {'code3': 'NER', 'name': 'Niger', 'value': nan, 'code': 'NE'},
 {'code3': 'NGA', 'name': 'Nigeria', 'value': 35.00248598195577, 'code': 'NG'},
 {'code3': 'NIC',
  'name': 'Nicaragua',
  'value': 36.18981208474832,
  'code': 'NI'},
 {'code3': 'NLD', 'name': 'Netherlands', 'value': nan, 'code': 'NL'},
 {'code3': 'NOR', 'name': 'Norway', 'value': nan, 'code': 'NO'},
 {'code3': 'NPL', 'name': 'Nepal', 'value': 31.482348766771274, 'code': 'NP'},
 {'code3': 'NRU', 'name': 'Nauru', 'value': nan, 'code': 'NR'},
 {'code3': 'NZL', 'name': 'New Zealand', 'value': nan, 'code': 'NZ'},
 {'code3': 'OMN', 'name': 'Oman', 'value': nan, 'code': 'OM'},
 {'code3': 'PAK',
  'name': 'Pakistan',
  'value': 50.152667083066994,
  'code': 'PK'},
 {'code3': 'PAN', 'name': 'Panama', 'value': nan, 'code': 'PA'},
 {'code3': 'PER', 'name': 'Peru', 'value': 11.510417471599798, 'code': 'PE'},
 {'code3': 'PHL',
  'name': 'Philippines',
  'value': 20.070052510991854,
  'code': 'PH'},
 {'code3': 'PLW', 'name': 'Palau', 'value': nan, 'code': 'PW'},
 {'code3': 'PNG', 'name': 'Papua New Guinea', 'value': nan, 'code': 'PG'},
 {'code3': 'POL', 'name': 'Poland', 'value': nan, 'code': 'PL'},
 {'code3': 'PRI', 'name': 'Puerto Rico', 'value': nan, 'code': 'PR'},
 {'code3': 'PRK',
  'name': 'Korea, Dem. People’s Rep.',
  'value': nan,
  'code': 'KP'},
 {'code3': 'PRT', 'name': 'Portugal', 'value': nan, 'code': 'PT'},
 {'code3': 'PRY',
  'name': 'Paraguay',
  'value': 21.055677655796824,
  'code': 'PY'},
 {'code3': 'PSE', 'name': 'West Bank and Gaza', 'value': nan, 'code': 'PS'},
 {'code3': 'PYF', 'name': 'French Polynesia', 'value': nan, 'code': 'PF'},
 {'code3': 'QAT', 'name': 'Qatar', 'value': nan, 'code': 'QA'},
 {'code3': 'ROU',
  'name': 'Romania',
  'value': 10.539449511572549,
  'code': 'RO'},
 {'code3': 'RUS',
  'name': 'Russian Federation',
  'value': 5.9222180040203805,
  'code': 'RU'},
 {'code3': 'RWA', 'name': 'Rwanda', 'value': 26.093101755968956, 'code': 'RW'},
 {'code3': 'SAU', 'name': 'Saudi Arabia', 'value': nan, 'code': 'SA'},
 {'code3': 'SDN', 'name': 'Sudan', 'value': 82.85991323398054, 'code': 'SD'},
 {'code3': 'SEN', 'name': 'Senegal', 'value': nan, 'code': 'SN'},
 {'code3': 'SGP', 'name': 'Singapore', 'value': nan, 'code': 'SG'},
 {'code3': 'SLB', 'name': 'Solomon Islands', 'value': nan, 'code': 'SB'},
 {'code3': 'SLE',
  'name': 'Sierra Leone',
  'value': 37.45938976297465,
  'code': 'SL'},
 {'code3': 'SLV',
  'name': 'El Salvador',
  'value': 26.56805747653944,
  'code': 'SV'},
 {'code3': 'SMR', 'name': 'San Marino', 'value': nan, 'code': 'SM'},
 {'code3': 'SOM', 'name': 'Somalia', 'value': nan, 'code': 'SO'},
 {'code3': 'SRB', 'name': 'Serbia', 'value': 13.35633626738672, 'code': 'RS'},
 {'code3': 'STP', 'name': 'Sao Tome and Principe', 'value': nan, 'code': 'ST'},
 {'code3': 'SUR', 'name': 'Suriname', 'value': nan, 'code': 'SR'},
 {'code3': 'SVK', 'name': 'Slovak Republic', 'value': nan, 'code': 'SK'},
 {'code3': 'SVN', 'name': 'Slovenia', 'value': nan, 'code': 'SI'},
 {'code3': 'SWE', 'name': 'Sweden', 'value': nan, 'code': 'SE'},
 {'code3': 'SWZ', 'name': 'Swaziland', 'value': nan, 'code': 'SZ'},
 {'code3': 'SXM',
  'name': 'Sint Maarten (Dutch part)',
  'value': nan,
  'code': 'SX'},
 {'code3': 'SYC', 'name': 'Seychelles', 'value': nan, 'code': 'SC'},
 {'code3': 'SYR', 'name': 'Syrian Arab Republic', 'value': nan, 'code': 'SY'},
 {'code3': 'TCA',
  'name': 'Turks and Caicos Islands',
  'value': nan,
  'code': 'TC'},
 {'code3': 'TCD', 'name': 'Chad', 'value': 41.617664389955664, 'code': 'TD'},
 {'code3': 'TGO', 'name': 'Togo', 'value': nan, 'code': 'TG'},
 {'code3': 'THA', 'name': 'Thailand', 'value': 12.3442276742772, 'code': 'TH'},
 {'code3': 'TJK',
  'name': 'Tajikistan',
  'value': 45.72147611277547,
  'code': 'TJ'},
 {'code3': 'TKM', 'name': 'Turkmenistan', 'value': nan, 'code': 'TM'},
 {'code3': 'TLS', 'name': 'Timor-Leste', 'value': nan, 'code': 'TL'},
 {'code3': 'TON', 'name': 'Tonga', 'value': nan, 'code': 'TO'},
 {'code3': 'TTO', 'name': 'Trinidad and Tobago', 'value': nan, 'code': 'TT'},
 {'code3': 'TUN', 'name': 'Tunisia', 'value': 26.20621363822989, 'code': 'TN'},
 {'code3': 'TUR', 'name': 'Turkey', 'value': 12.307942202621481, 'code': 'TR'},
 {'code3': 'TUV', 'name': 'Tuvalu', 'value': nan, 'code': 'TV'},
 {'code3': 'TZA',
  'name': 'Tanzania',
  'value': 31.463351854348463,
  'code': 'TZ'},
 {'code3': 'UGA', 'name': 'Uganda', 'value': 32.660270793705656, 'code': 'UG'},
 {'code3': 'UKR',
  'name': 'Ukraine',
  'value': 33.149953693113446,
  'code': 'UA'},
 {'code3': 'URY', 'name': 'Uruguay', 'value': nan, 'code': 'UY'},
 {'code3': 'USA', 'name': 'United States', 'value': nan, 'code': 'US'},
 {'code3': 'UZB', 'name': 'Uzbekistan', 'value': nan, 'code': 'UZ'},
 {'code3': 'VCT',
  'name': 'St. Vincent and the Grenadines',
  'value': nan,
  'code': 'VC'},
 {'code3': 'VEN', 'name': 'Venezuela, RB', 'value': nan, 'code': 'VE'},
 {'code3': 'VGB',
  'name': 'British Virgin Islands',
  'value': nan,
  'code': 'VG'},
 {'code3': 'VIR', 'name': 'Virgin Islands (U.S.)', 'value': nan, 'code': 'VI'},
 {'code3': 'VNM', 'name': 'Vietnam', 'value': 19.57286430312434, 'code': 'VN'},
 {'code3': 'VUT', 'name': 'Vanuatu', 'value': nan, 'code': 'VU'},
 {'code3': 'WSM', 'name': 'Samoa', 'value': nan, 'code': 'WS'},
 {'code3': 'YEM', 'name': 'Yemen, Rep.', 'value': nan, 'code': 'YE'},
 {'code3': 'ZAF',
  'name': 'South Africa',
  'value': 15.997352396005803,
  'code': 'ZA'},
 {'code3': 'ZMB', 'name': 'Zambia', 'value': 34.51999739667879, 'code': 'ZM'},
 {'code3': 'ZWE', 'name': 'Zimbabwe', 'value': nan, 'code': 'ZW'}]

In [107]:
import numpy as np

In [110]:
np.linspace(0,100,8)

array([  0.        ,  14.28571429,  28.57142857,  42.85714286,
        57.14285714,  71.42857143,  85.71428571, 100.        ])